# make sure to add this folder to .gitignore
DEV_PATH="./dev"
DEV_WORKSPACE_NAME="Dev"
# confirm if this is the best place/permissions
DEVBRAIN_PATH=${HOME}/.devbrain
DB_MIGRATIONS_PATH = ./src/main/db/migrations